@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 15, 15;
  --background-start-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0a0a0a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
